/*

!.bashrc
!README.org
!.gitignore

!.emacs.d

!.config/
.config/*

!.config/sway/
!.config/sway/*
!.config/swaync/
!.config/swaync/*
!.config/waybar/
!.config/waybar/*
!.config/rofi/
!.config/rofi/*
!.config/scripts/
!.config/scripts/*
!.config/gtk-3.0/
!.config/gtk-3.0/*

!.config/starship.toml

!.config/vesktop/settings/
!.config/vesktop/settings.json
!.config/vesktop/state.json
!.config/vesktop/themes/
